div#CenterContent {
    padding-bottom: 2rem !important;
}

.market-layout {
    > .left-column {
        border-right: 1px solid $border-color;
        border-top: none;
    }

    .right-column {
        border-left: 1px solid $border-color;

        padding-top: 0 !important;
        padding-bottom: 0 !important;
        border-top: none;
    }
}

.top-bar {
    border-bottom: 1px solid #3071b3;
    background-color: #3071b3;
    .shuffle {
        margin: 0 10px;
    }

    ul {
        line-height: 1.2;
    }
}

.market-content {
    padding-left: 5px !important;
    padding-right: 5px !important;
}

[class*="block-grid-"] > li {
    height: auto;

    padding: 0 0.625em 1.25em;
}

.order-table {
    width: 100%;
    background-color: #fff;
    &.fixed-table {
        table-layout: fixed;
        text-align: right;
    }

    > thead > tr > th {
        font-size: 14px;
        padding: 5px 5px;
        text-align: right;
    }

    > tbody > tr > td {
        font-size: 12px;
        padding-bottom: 4px;
    }
}

.my-orders {
    width: 48% !important;
    display: inline-table;
}

p.order-table-title {
    display: none;
}

.notification,
.notification.success,
.notification.info,
.notification.warning,
.notification.alert,
.notification.cancel {
    font-size: 0.75rem;
}

.backingWarning {
    color: yellow;
}
.backingError {
    color: red;
}

.bid-form {
    padding-top: 0.25rem !important;
    padding-bottom: 0.25rem !important;
}

.ask-form {
    padding-top: 0.25rem !important;
    padding-bottom: 0.25rem !important;
}

.buySellButton {
    float: right;
    min-width: 4rem;
}

form.order-form {
    padding: 10px;
}

#market-charts {
    background-color: rgba(47, 113, 181, 1);
    > div.Stockcharts__wrapper {
        overflow: hidden;
    }
    > div > div.tabs {
        margin-bottom: 0.25rem;

        .tab-item {
            padding-top: 0.1rem;
        }
    }
}

.left-order-book {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    table {
        width: 100%;
        table-layout: auto;
        th {
            padding-top: 8px !important;
            padding-bottom: 8px !important;
        }
    }
    .transition-container {
        display: table-row-group;
    }
    > .table-container {
        flex-grow: 1;
        width: 100%;
        position: relative;
    }
    .my-order {
        font-weight: bold;
    }
    .no-orders {
        text-align: center !important;
        margin-left: auto;
        margin-right: auto;
        &.padtop {
            padding-top: 1em;
        }
    }
    .ps-scrollbar-y-rail {
        width: 10px !important;
        .ps-scrollbar-y {
            width: 6px !important;
        }
    }
    .cell {
        display: table-cell;
        font-size: 0.875rem;
        padding-top: 5px;
        padding-bottom: 5px;
        vertical-align: middle;
        text-align: right;
        &.header-cell {
            padding-top: 0;
            padding-bottom: 0;
        }
        $scrollBarSpacePadding: 15px;
        &.left,
        &.right {
            padding-left: $scrollBarSpacePadding;
            padding-right: $scrollBarSpacePadding;
        }
        .text-center.spread {
            color: grey;
            display: flex;
            justify-content: space-between;
            align-items: center;
            width: 100%;
            .left {
                padding-left: $scrollBarSpacePadding;
            }
            .right {
                padding-right: $scrollBarSpacePadding;
            }
        }
    }
    .bottom-header {
        width: 100%;
        height: 2rem;
        .button.outline {
            border-left: none;
        }
    }
    .order-table-container {
        width: 100%;
        height: calc(100% - 32px);
    }
    .top-header {
        text-align: right;
        height: 31px;
    }
}

.underline {
    border-bottom: 1px dotted;
}

.final-row > td {
    border-bottom: none !important;
}

.left-orderbook-header {
    width: 100%;
    font-size: 0.75rem;
}

.top-header {
    padding-bottom: 0.25rem;
}
.bottom-header {
    padding-top: 0.25rem;
    > .horizontal-button {
        height: 100%;
        width: 100%;
        border-bottom: none !important;
        border-right: none !important;
    }
}

tr.top-header,
tr.bottom-header,
tr.spread-row {
    &:hover > td {
        background-color: inherit !important;
        cursor: pointer !important;
    }
}

.chart-label {
    z-index: 5;
    position: absolute;
    right: 0;
    font-size: 15px;
    border: 1px black solid;
    vertical-align: middle;
}

.buy-sell-info {
    font-size: 90%;
}

a.order-cancel {
    font-size: 90%;
    letter-spacing: 2px;
    padding-top: 0.01rem;
    padding-bottom: 0.01rem;
    margin: 0;
}

.stats {
    overflow: visible;
}

.market-stats {
    > li {
        display: inline-block;
        padding-right: 0.5rem;
    }
}

div.market-stats-container {
    // border-bottom: 1px solid $border-color;
    justify-content: space-between;
}

ul.market-stats {
    font-size: 0.75rem;
    display: flex;
    flex-wrap: wrap;
}
.market-stats .stat {
    text-align: left;
    font-size: 0.75rem;
    overflow: hidden;
}

.market-stats .stat .value {
    font-size: 0.75rem;
    color: #000;
    letter-spacing: normal;
}

.label-actions .icon {
    position: relative;
    top: 4px;
}

.stats {
    list-style: none;
    margin: 0px;
    padding: 0px;
}

.top-stats li {
    /*border-right: 1px solid $border-color;*/
    min-height: 42px;
    margin-left: 25px;
}

.bottom-stats li {
    // border-right: 1px solid $border-color;
}

.stats .stat {
    text-align: center;
    padding: 2px 5px;
    vertical-align: middle;

    > span {
        > span:first-of-type {
            padding-right: 5px;
            @include RobotoMedium;
        }
    }
}

.stats .stat:first-child {
    border-left: none;
}

.market-symbol {
    font-weight: bold;
    font-size: 1.1rem;
    padding-left: 0.3rem;
    padding-right: 0.5rem;
}

div.bucket-option {
    line-height: 1;
    cursor: pointer;
    text-transform: none !important;
    margin-right: 3px;
    border-radius: 0;
    user-select: none;
}

.active-bucket {
    text-transform: uppercase;
}

.buy-sell-row {
    margin-bottom: 10px;

    input {
        border-top-right-radius: 0 !important;
        border-bottom-right-radius: 0 !important;
        font-variant: small-caps;
    }
}

.bottom-row {
    border-top: #a09f9f 1px dotted;
    padding-top: 5px !important;
}

.buy-sell-label {
    font-size: 90%;
    line-height: 1.75rem;
    height: 1.75rem;
}

.buy-sell-input {
    height: 1.75rem;
    line-height: 1.75rem;
}

.buy-sell-input > input {
    margin: 0;
    padding: 0;
    height: 1.75rem;
    text-align: right;
    font-size: 90%;
    padding-right: 0.4rem;
}

.buy-sell-box {
    text-align: center;
    height: 1.75rem;
    line-height: 1.75rem;
    font-weight: 700;
    font-size: 75%;
    padding: 0 0 0 5px;
    min-width: 5rem;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;

    > select {
        padding: 0;
        margin: 0;
        height: 1.75rem;
        line-height: 1.75rem;
        background-size: 8px 8px;
        border: none;
        color: white;
        font-size: 12px;
    }
}

.borrow-button {
    margin-top: 0.2rem;
    margin-right: 0.2rem;
    font-size: 0.8rem;
}

.borrow-button-container {
    padding-left: 0.25rem;

    > div:last-of-type {
        margin-bottom: 0.2rem;
    }
}

.order-change {
    transition: all 3s ease;
    background: #343434;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0;
}

.borrow-price-label {
    display: inline-block;
    min-width: 40%;
}

.borrow-price-final {
    border-top: #a09f9f 1px dotted;
    padding-top: 5px !important;
}

.borrow-price-feeds {
    padding-bottom: 8px;
}

.middle-content {
    margin-bottom: 10px;
}

.market-right-padding-only {
    padding: 0 0.6rem 0 0 !important;
}

.mymarkets-header {
    text-transform: uppercase;
    width: 50%;
    font-size: 1rem;
    padding: 6px 10px;
    font-weight: 500;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    transition: border-color 0.3s ease 0s;
    overflow: hidden;
}

.exchange-content-header {
    font-size: 1rem;
    font-weight: 500;
    text-transform: uppercase;
    padding: 6px 10px;
    overflow: hidden;
}

.mymarkets-base-select {
    margin: 0;
    padding: 0;
    height: inherit;
    font-size: inherit;
}

.mymarkets-list {
    padding: 0;
    font-size: 0.75rem;
    .table > thead tr th {
        font-size: 0.75rem;
    }

    .table > tbody tr td {
        padding-top: 2px;
        padding-bottom: 2px;
    }
}

table thead tr th.mymarkets-header {
    padding-bottom: 9px !important;
}

.title-star {
    width: 1.25rem;
    height: 1.25rem;
    padding-right: 0.25rem;
}

.blue-icon > svg > path {
    fill: #2196f3 !important;
}

.gold-star > svg > path {
    fill: #cc9f00 !important;
}

.grey-star > svg > path,
.grey-shuffle > svg > path {
    fill: #ffffff !important;
}

.gold-star:hover > svg > path {
    fill: lighten(#cc9f00, 10%) !important;
}

.shuffle:hover > svg > path {
    fill: lighten(#878787, 20%) !important;
}

.grey-star:hover > svg > path {
    fill: #cc9f00 !important;
}

@media (max-width: 450px) {
    .hide-order-0 {
        display: none !important;
    }
}
@media (max-width: 570px) {
    .hide-order-1 {
        display: none !important;
    }
}
@media (max-width: 720px) {
    .hide-order-2 {
        display: none !important;
    }
}
@media (max-width: 880px) {
    .hide-order-3 {
        display: none !important;
    }
}
@media (max-width: 1020px) {
    .hide-order-4 {
        display: none !important;
    }
}
@media (max-width: 1180px) {
    .hide-order-5 {
        display: none !important;
    }
}

@media (max-width: 1220px) {
    .hide-order-6 {
        display: none !important;
    }
}

.no-data {
    position: relative;
    left: 45%;
    top: 200px;
    z-index: 999;
    text-transform: uppercase;
    font-size: 2rem;
}

.market-right-padding {
    padding-right: 15px !important;
}

.orderbook-showall {
    text-align: center;
    padding: 5px 0;
    border-top: 1px solid $border-color;
    font-size: 12px;
}

.newrow-enter.newrow-enter-active {
    animation: flash 1.25s;
    animation-timing-function: ease-out;
}

@keyframes flash {
    0% {
        background-color: #6b6b6b;
    }
    100% {
        background-color: transparent;
    }
}

.mymarkets-tabs {
    width: 100%;
    list-style: none;
    margin: 0;
    margin-top: 5px;

    > li {
        padding: 3px;
        font-size: 12px;
        display: inline-block;
        margin: 0 5px;
        cursor: pointer;
    }
}

.buysell-select {
    background: none !important;
    -webkit-appearance: menulist;
    -moz-appearance: menulist;
    appearance: menulist;
    text-align: left;
}

form.hide-container {
    display: none;
}

.custom-dropdown {
    position: relative;
    overflow: visible !important;
    z-index: 9;

    > div.custom-dropdown-content {
        position: absolute;
        z-index: 99;
        top: 29px;
        left: 0;
        right: auto;
        min-width: 15rem;
        > ul {
            margin: 0;
            list-style: none;
            text-align: left;
            font-size: 0.75rem;

            input {
                font-size: 0.8rem;
                height: 1.25rem;
                max-width: 40px;
                display: inline-block;
            }
            > li {
                position: relative;
                &.indicator-title {
                    text-transform: uppercase;
                }
                padding: 5px;
                min-width: 5rem;
                border: none;
                &.indicator {
                    > div:first-of-type {
                        display: inline-block;
                        padding-left: 25px;
                        width: 60%;
                    }
                    > div:nth-of-type(2) {
                        width: 40%;
                        text-align: right;
                        display: inline-block;
                    }
                }
                > input {
                    position: absolute;
                    top: 5px;
                }
            }
        }
    }
}

.buy-sell-deposit {
    font-size: 85%;
    padding-left: 10px;
    text-transform: none;
    color: white;
    > a > span.asset-name {
        text-transform: none;
    }
}

tbody.orderbook > tr.my-order > td {
    font-weight: bold;
}

.marketPicker {
    border: 1px solid black;
    position: absolute;
    z-index: 100;
    width: 400px;
    min-height: 300px;
    padding: 10px;

    .marketPicker__header {
        padding: 0 5px;
        margin-top: 1px;

        .marketPicker__title {
            font-size: 18px;
            text-transform: uppercase;
            font-weight: bold;
        }

        .marketPicker__filterType {
            float: right;
            position: absolute;
            top: 0;
            right: 10px;
            font-size: 16px;
            padding-bottom: 5px;
        }

        .marketPicker__filterHeader {
            float: left;
            margin-top: 5px;
        }
    }

    .marketPicker__subHeader {
        padding: 10px 5px 0px 5px;
        font-size: 1rem;
    }

    input {
        font-size: 0.9rem;
        position: relative;
        top: 1;
    }

    .results {
        padding: 10px;
        max-height: 300px;
        min-height: 100px;
        overflow: auto;
        overflow-x: hidden;

        li {
            list-style-type: none;
            border-bottom: 1px solid black;
        }
    }
}
