.loading-overlay {
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 1 !important;
    -webkit-transition: opacity linear 0.5s;
    transition: opacity linear 0.5s;
}

.loading-overlay.ng-hide {
    opacity: 0;
}

.loading-panel {
    max-height: 110px;
    width: 340px;
    background-color: rgb(0, 0, 0);
    opacity: 0.75;
    border-radius: 5px;
    margin-left: auto;
    margin-right: auto;
    position: absolute;
    top: 40%;
    left: 0;
    right: 0;
    bottom: 0;
}

.splash .loading-panel {
    left: -380px;
}

.progress-indicator {
    height: 50px;
    vertical-align: middle;
    margin: 46px 20px 20px 20px;
    text-align: center;
    color: #000;
    display: none;
}

.progress-indicator > span {
    vertical-align: middle;
    display: table-cell;
}

.with-progress .progress-indicator {
    display: table;
}

.spinner {
    width: 64px;
    height: 18px;
    margin: auto;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}

.with-progress .spinner {
    margin: 20px auto 0 auto;
}

.spinner > div {
    width: 18px;
    height: 18px;
    background-color: #333;
    border-radius: 100%;
    display: inline-block;
    -webkit-animation: bouncedelay 1.4s infinite ease-in-out;
    animation: bouncedelay 1.4s infinite ease-in-out;
    /* Prevent first frame from flickering when animation starts */
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

.spinner .bounce1 {
    -webkit-animation-delay: -0.32s;
    animation-delay: -0.32s;
}

.spinner .bounce2 {
    -webkit-animation-delay: -0.16s;
    animation-delay: -0.16s;
}

@-webkit-keyframes bouncedelay {
    0%,
    80%,
    100% {
        -webkit-transform: scale(0);
    }
    40% {
        -webkit-transform: scale(1);
    }
}

@keyframes bouncedelay {
    0%,
    80%,
    100% {
        transform: scale(0);
        -webkit-transform: scale(0);
    }
    40% {
        transform: scale(1);
        -webkit-transform: scale(1);
    }
}

// circle
.circle-wrapper {
    width: 22px;
    height: 22px;
    position: relative;
}

.circle {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
}

.circle:before {
    content: "";
    display: block;
    margin: 0 auto;
    width: 20%;
    height: 20%;
    background-color: #777;

    border-radius: 100%;
    -webkit-animation: bouncedelay 1.2s infinite ease-in-out;
    animation: bouncedelay 1.2s infinite ease-in-out;
    /* Prevent first frame from flickering when animation starts */
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

.circle2 {
    -webkit-transform: rotate(30deg);
    transform: rotate(30deg);
}
.circle3 {
    -webkit-transform: rotate(60deg);
    transform: rotate(60deg);
}
.circle4 {
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);
}
.circle5 {
    -webkit-transform: rotate(120deg);
    transform: rotate(120deg);
}
.circle6 {
    -webkit-transform: rotate(150deg);
    transform: rotate(150deg);
}
.circle7 {
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
}
.circle8 {
    -webkit-transform: rotate(210deg);
    transform: rotate(210deg);
}
.circle9 {
    -webkit-transform: rotate(240deg);
    transform: rotate(240deg);
}
.circle10 {
    -webkit-transform: rotate(270deg);
    transform: rotate(270deg);
}
.circle11 {
    -webkit-transform: rotate(300deg);
    transform: rotate(300deg);
}
.circle12 {
    -webkit-transform: rotate(330deg);
    transform: rotate(330deg);
}

.circle2:before {
    -webkit-animation-delay: -1.1s;
    animation-delay: -1.1s;
}
.circle3:before {
    -webkit-animation-delay: -1s;
    animation-delay: -1s;
}
.circle4:before {
    -webkit-animation-delay: -0.9s;
    animation-delay: -0.9s;
}
.circle5:before {
    -webkit-animation-delay: -0.8s;
    animation-delay: -0.8s;
}
.circle6:before {
    -webkit-animation-delay: -0.7s;
    animation-delay: -0.7s;
}
.circle7:before {
    -webkit-animation-delay: -0.6s;
    animation-delay: -0.6s;
}
.circle8:before {
    -webkit-animation-delay: -0.5s;
    animation-delay: -0.5s;
}
.circle9:before {
    -webkit-animation-delay: -0.4s;
    animation-delay: -0.4s;
}
.circle10:before {
    -webkit-animation-delay: -0.3s;
    animation-delay: -0.3s;
}
.circle11:before {
    -webkit-animation-delay: -0.2s;
    animation-delay: -0.2s;
}
.circle12:before {
    -webkit-animation-delay: -0.1s;
    animation-delay: -0.1s;
}

@-webkit-keyframes bouncedelay {
    0%,
    80%,
    100% {
        -webkit-transform: scale(0);
    }
    40% {
        -webkit-transform: scale(1);
    }
}

@keyframes bouncedelay {
    0%,
    80%,
    100% {
        -webkit-transform: scale(0);
        transform: scale(0);
    }
    40% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }
}

// three bounce

.three-bounce > div {
    width: 18px;
    height: 18px;
    background-color: #777;

    border-radius: 100%;
    display: inline-block;
    -webkit-animation: bouncedelay 1.4s infinite ease-in-out;
    animation: bouncedelay 1.4s infinite ease-in-out;
    /* Prevent first frame from flickering when animation starts */
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

.three-bounce .bounce1 {
    -webkit-animation-delay: -0.32s;
    animation-delay: -0.32s;
}

.three-bounce .bounce2 {
    -webkit-animation-delay: -0.16s;
    animation-delay: -0.16s;
}

@-webkit-keyframes bouncedelay {
    0%,
    80%,
    100% {
        -webkit-transform: scale(0);
    }
    40% {
        -webkit-transform: scale(1);
    }
}

@keyframes bouncedelay {
    0%,
    80%,
    100% {
        transform: scale(0);
        -webkit-transform: scale(0);
    }
    40% {
        transform: scale(1);
        -webkit-transform: scale(1);
    }
}
