// Hacks that should get cleaned up and put in appropriate files within the stylesheet layout
// http://sass-guidelin.es/#shame-file

@import "./style-guide-fixes";

#content.win32 {
    font-size: 90%;
    h1 {
        font-size: 2rem;
    }
    h2 {
        font-size: 1.8rem;
    }
    h3 {
        font-size: 1.6rem;
    }
    h4 {
        font-size: 1.4rem;
    }
    h5 {
        font-size: 1.2rem;
    }
    h6 {
        font-size: 1rem;
    }
}

a {
    transition: all 0.3s ease 0s;
}

// border is needed when centering
// input[type="file"] did not work
input[type="file"] {
    border: "solid";
}

hr {
    border: none;
    height: 1px;
}

.reactTooltip {
    z-index: 10000;
}

.no-overflow {
    overflow: hidden;
}

//padding: "2rem 0 2rem 0"  Using top and bottom padding prevents
//unnecessary scroll bars but does not disable them for future use.
.no-overflow-padding {
    padding-top: 2rem;
    padding-bottom: 2rem;
}

.no-padding {
    padding: 0 !important;
}

@include breakpoint(small only) {
    .small-no-padding {
        padding: 0 !important;
    }
}

.no-margin {
    margin: 0 !important;
}

.center-content {
    text-align: center;
    > * {
        margin-left: auto;
        margin-right: auto;
    }
}

.flex-start {
    align-items: flex-start;
}

.cursor-pointer {
    cursor: pointer;
}

a > .label {
    cursor: pointer;
}

.block-button {
    display: block;
}

button,
.button {
    transition: all 0.3s ease 0s !important;
    border: 1px solid transparent;
    //margin: 2px 5px 2px 5px;
    vertical-align: middle;
    &.outline {
        &:hover,
        &:focus,
        &:active {
            background: none !important;
        }

        background: none;
        border: 1px solid #555;
    }
}

td > button:first-child,
td > .button:first-child,
div > button:first-child,
div > .button:first-child {
    margin-left: 0;
}

td > button:last-child,
td > .button:last-child,
div > button:last-child,
div > .button:last-child,
section > .button:last-child {
    margin-right: 0;
}

.notification {
    border-radius: 0 !important;
    border-top: none !important;
    border-right: none !important;
    border-bottom: none !important;
    border-left-width: 4px !important;
    border-left-style: solid !important;
    padding: 1rem !important;
    font-size: 100% !important;
}

.notifications-tr,
.notifications-tl {
    > div.notification {
        top: 65px !important;
    }
}

.content-block {
    margin-bottom: 2rem;
    > h3,
    .recent-transactions > h3 {
        font-size: 2rem;
        border-bottom: 1px solid #444;
        margin-top: 0;
        padding-bottom: 0.5rem;
        margin-bottom: 0.5rem;
    }
    .actions {
        padding: 1rem 0 1rem 0;
    }
}

.no-border {
    border: none !important;
}

.no-border-bottom {
    border-bottom: none !important;
}

.page-header {
    margin-bottom: 2rem;
    border-bottom: 1px solid #444;
    h3,
    h1 {
        margin: 0;
        padding: 1rem 0 1rem 0;
    }
    h3 {
        font-size: 2rem;
    }
    h1 + h3 {
        padding-top: 0;
    }
}

table > tbody > tr.control-row > td {
    padding-top: 1rem;
    border-bottom: none;
    vertical-align: middle;
    input {
        display: inline-block;
        padding-top: 0;
        padding-bottom: 0;
        margin-right: 8px !important;
    }
    > label {
        margin: 0;
    }
    > input {
        margin-right: 2rem !important;
    }
}

.overflow-visible {
    overflow: visible;
}

.full-width-content > * {
    width: 100%;
}

.op-table > tbody > tr > td:first-child {
    width: 17rem;
}

.button-group > .button {
    margin: 0 1rem 1rem 0;
}

.empty-identicon {
    border: 1px solid #008cba;
}

div.disabled * {
    opacity: 0.8 !important;
    cursor: default !important;
    pointer-events: none !important;
}

div.disabled input {
    background-color: #444;
}

.memo {
    font-size: 0.875rem;
    word-break: break-word;
}

div.memo-tip {
    word-break: break-word;
    max-width: 40rem;
}

.invoice {
    .item-name {
        padding: 0.2rem 0 0.2rem 0;
    }
    .item-description {
        padding: 0.2rem 0 0.2rem 0;
        font-size: 90%;
    }
}

span.time {
    white-space: nowrap;
}

section > ul > li.key-value {
    padding: 0.5rem 1rem;
}

label.inline {
    display: inline;
}

.blocks-row {
    > div.grid-block {
        padding-bottom: 0 !important;
    }
}

.electron-only {
    display: none;
}

.electron-only {
    visibility: hidden;
}
#content.electron {
    visibility: visible;
}

.Popover-body {
    max-width: 50rem;
    display: inline-flex;
    flex-direction: column;
    padding: 1rem 2rem 1rem 2rem;
    background: hsl(0, 0%, 32%);
    color: white;
    border-radius: 0.05rem;

    .help-content h3 {
        color: white;
    }

    .help-content p {
        font-weight: normal !important;
    }
}

.Popover-tipShape {
    fill: hsl(0, 0%, 32%);
}

.click-for-help {
    border-bottom: 1px dotted #777;
    cursor: pointer;
}

.asset-flag .label {
    margin-bottom: 0.4rem;
    margin-right: 0.5rem;
}

.markets-view-toggle {
    position: absolute;
    top: 20px;
    right: 20px;
    z-index: 90;
}

.small-caps {
    font-variant: small-caps;
    font-size: 85%;
}

.tooltip:hover {
    cursor: help;
}

.tooltip-zindex {
    z-index: 1001;
}

.inline-block {
    display: inline-block;
}

.__react_component_tooltip {
    z-index: 2000 !important;
    border: 1px solid grey;
    max-width: 20rem;
}

.asset-prefix-replaced {
    // text-transform: uppercase;
    font-variant: small-caps;
    text-transform: none;
}

select {
    line-height: normal !important;
}

select.bts-select {
    border-radius: 5px;
    cursor: pointer;
    // height: 2em;
    border: none;
    background: none;
    background-color: transparent;
    max-width: 500px;
    border-bottom: 1px solid #444;
    -webkit-appearance: menulist;
    -moz-appearance: menulist;
    appearance: menulist;
}

select.bts-select.full-width {
    width: 100%;
    max-width: 100%;
}

.windows select.bts-select {
    height: 2.35em;
}

@media screen and (max-width: 525px) {
    .column-hide-xs {
        display: none !important;
    }
}

@media screen and (max-width: 440px) {
    .column-hide-xxs {
        display: none !important;
    }
}

@media screen and (min-width: 900px) {
    .column-show-small {
        display: none !important;
    }
}

@media screen and (max-width: 600px) {
    .column-hide-tiny {
        display: none !important;
    }
}

@media screen and (max-width: 1200px) {
    .column-hide-small {
        display: none !important;
    }
}

@media screen and (max-width: 1357px) {
    .column-hide-medium {
        display: none !important;
    }
}

input#{$ant-fix},
textarea#{$ant-fix} {
    border-radius: 5px !important;
}

input[type="number"] {
    -moz-appearance: textfield;
}

.clickable {
    cursor: pointer;
}

@include breakpoint(xlarge) {
    form.hide-container {
        display: inherit !important;
    }
}

.unlock-tooltip {
    min-width: 150px;
}

section input[type="text"],
section input[type="password"] {
    border: none;
    max-width: 30rem;
    &:hover,
    &:active,
    &:focus {
        border: none;
    }
}

section progress {
    max-width: 30rem;
}

.notification {
    table > tr > td {
        padding-left: 0 !important;
        padding-right: 0 !important;

        span {
            line-height: 1.1rem;
        }
    }
}

.help-tooltip {
    cursor: help;
}

ul > li {
    transition: background-color 0.3s ease 0s;
}
